{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}








{% block div_index %}

		<!-- ==================== header-section Start ====================-->
		<section id="breadcrumb-section" class="breadcrumb-section w100dt mb-30">
			<div class="container">

				<nav class="breadcrumb-nav w100dt">
					<div class="page-name hide-on-small-only left">
						<h4>SINGLE BLOG</h4>
					</div>
					<div class="nav-wrapper right">
						<a href="{% url 'blog:index' %}" class="breadcrumb">Home</a>
						<a href="#" class="breadcrumb active">Blog Single</a>
					</div>
					<!-- /.nav-wrapper -->
				</nav>
				<!-- /.breadcrumb-nav -->

			</div>
			<!-- container -->
		</section>
		<!-- /.breadcrumb-section -->
		<!-- ==================== header-section End ====================-->

{% endblock div_index %}





		<!-- ==================== single-blog-section start ====================-->
		<section id="single-blog-section" class="single-blog-section w100dt mb-50">
			<div class="container">
				<div class="row">

                    {% block div_post %}

					    <div class="col m8 s12">

						<div class="blogs mb-30">
							<div class="card">
								<div class="card-image">
									<img src="{% static 'blog/img/selfie.jpg' %}" alt="Image">
								</div>
								<!-- /.card-image -->
								<div class="card-content w100dt">
									<p>
										<a href="#" class="tag left w100dt l-blue mb-30">{{ post.category.name }}</a>
									</p>
									<a href="#" class="card-title mb-30">
										{{ post.title }}
									</a>
									<p class="mb-30">
                                        <!--{{ post.excerpt }}-->
									</p>
									<ul class="post-mate-time left mb-30">
										<li>
											<p class="hero left">
												By - <a href="#" class="l-blue">{{ post.author }}</a>
											</p>
										</li>
										<li>
											<i class="icofont icofont-ui-calendar"></i> {{ post.created_time }}
										</li>
									</ul>

									<ul class="post-mate right mb-30">
										<li class="like">
											<a href="#">
												<i class="icofont icofont-heart-alt"></i> 55
											</a>
										</li>
										<li class="comment">
											<a href="#">
												<i class="icofont icofont-comment"></i> 32
											</a>
										</li>
									</ul>

									<div class="w100dt mb-50">
                                        {{ post.body|safe }}
                                    </div>

									<ul class="tag-list left">
										<li><a href="#!" class="waves-effect">#Fashion</a></li>
										<li><a href="#!" class="waves-effect">#Lifestyle</a></li>
										<li><a href="#!" class="waves-effect">#Travel</a></li>
									</ul>

									<ul class="share-links right">
										<li><a href="#" class="facebook"><i class="icofont icofont-social-facebook"></i></a></li>
										<li><a href="#" class="twitter"><i class="icofont icofont-social-twitter"></i></a></li>
										<li><a href="#" class="google-plus"><i class="icofont icofont-social-google-plus"></i></a></li>
										<li><a href="#" class="linkedin"><i class="icofont icofont-brand-linkedin"></i></a></li>
										<li><a href="#" class="pinterest"><i class="icofont icofont-social-pinterest"></i></a></li>
										<li><a href="#" class="instagram"><i class="icofont icofont-social-instagram"></i></a></li>
									</ul>

								</div>
								<!-- /.card-content -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.blogs -->

						<div class="prv-nxt-post w100dt mb-30">
							<div class="row">

								<div class="col m6 s12">
									<div class="sb-prv-post">
										<div class="pn-img left">
											<img src="img/img1.jpg" alt="Image">
										</div>
										<div class="pn-text left-align">
											<a href="#" class="title-name mb-10">Lorem ipsum dolor sit amet consectetur</a>
											<a href="#" class="prv-nxt-btn l-blue"><i class="icofont icofont-caret-left"></i> Preveious</a>
										</div>
									</div>
									<!-- /.sb-prv-post -->
								</div>
								<!-- colm6 -->

								<div class="col m6 s12">
									<div class="sb-nxt-post">
										<div class="pn-img right">
											<img src="img/img2.jpg" alt="Image">
										</div>
										<div class="pn-text right-align">
											<a href="#" class="title-name mb-10">Lorem ipsum dolor sit amet consectetur</a>
											<a href="#" class="prv-nxt-btn l-blue">Next <i class="icofont icofont-caret-right"></i></a>
										</div>
									</div>
									<!-- /.sb-nxt-post -->
								</div>
								<!-- colm6 -->

							</div>
							<!-- row -->
						</div>

						<div class="peoples-comments w100dt mb-30">
							<div class="sidebar-title center-align">
								<h2>10 Comments</h2>
							</div>

							<div class="comment-area w100dt">

								<div class="comment w100dt mb-30">
									<div class="ppic left">
										<img src="img/img1.png" alt="Image">
									</div>
									<!-- /.ppic -->
									<div class="pname">
										<h4 class="mb-10">
											<a href="#" class="card-title l-blue">
												Angelina Jolie
											</a>
										</h4>
										<p class="comment-text mb-10">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum aut culpa modi vel eaque cumque illo. Vitae placeat itaque minus!
										</p>

										<ul class="post-mate-time left">
											<li class="like">
												<a href="#">
													<i class="icofont icofont-heart-alt"></i> 55
												</a>
											</li>
											<li class="comment">
												<a href="#">
													<i class="icofont icofont-comment"></i> 32
												</a>
											</li>
											<li class="reply">
												<a href="#">
													Reply
												</a>
											</li>
											<li>
												<i class="icofont icofont-ui-calendar"></i> 5 February'17
											</li>
										</ul>

									</div>
									<!-- /.pname -->
									<div class="cmnt-reply comment w100dt">
										<div class="ppic left">
											<img src="img/img2.png" alt="Image">
										</div>
										<!-- /.ppic -->
										<div class="pname">
											<h4 class="mb-10">
												<a href="#" class="card-title l-blue">
													Angelina Jolie
												</a>
											</h4>
											<p class="comment-text mb-10">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum aut culpa modi vel eaque cumque illo. Vitae placeat itaque minus!
											</p>

											<ul class="post-mate-time left">
												<li class="like">
													<a href="#">
														<i class="icofont icofont-heart-alt"></i> 55
													</a>
												</li>
												<li class="comment">
													<a href="#">
														<i class="icofont icofont-comment"></i> 32
													</a>
												</li>
												<li class="reply">
													<a href="#">
														Reply
													</a>
												</li>
												<li>
													<i class="icofont icofont-ui-calendar"></i> 5 February'17
												</li>
											</ul>

										</div>
										<!-- /.pname -->
									</div>
									<!-- /.cmnt-reply -->
								</div>
								<!-- /.comment -->

								<div class="comment w100dt">
										<div class="ppic left">
											<img src="img/img3.png" alt="Image">
										</div>
										<!-- /.ppic -->
										<div class="pname">
											<h4 class="mb-10">
												<a href="#" class="card-title l-blue">
													Angelina Jolie
												</a>
											</h4>
											<p class="comment-text mb-10">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum aut culpa modi vel eaque cumque illo. Vitae placeat itaque minus!
											</p>

											<ul class="post-mate-time left">
												<li class="like">
													<a href="#">
														<i class="icofont icofont-heart-alt"></i> 55
													</a>
												</li>
												<li class="comment">
													<a href="#">
														<i class="icofont icofont-comment"></i> 32
													</a>
												</li>
												<li class="reply">
													<a href="#">
														Reply
													</a>
												</li>
												<li>
													<i class="icofont icofont-ui-calendar"></i> 5 February'17
												</li>
											</ul>

										</div>
										<!-- /.pname -->
									</div>
									<!-- /.comment -->

							</div>
							<!-- /.comment-area -->
						</div>
						<!-- /.peoples-comments -->

						<div class="leave-comment">

							<div class="sidebar-title center-align">
								<h2>Leave Your Comment</h2>
							</div>

							<form class="comment-area w100dt" action="#">
								<div class="row">
									<div class="col m6 s12">
										<div class="form-item">
											<input id="icon_prefix" type="text" class="validate">
											<label for="icon_prefix">First Name</label>
										</div>
									</div>
									<div class="col m6 s12">
										<div class="form-item">
											<input id="email" type="email" class="validate">
											<label for="email" data-error="wrong" data-success="right">Email</label>
										</div>
									</div>
									<div class="col s12">
										<div class="form-item">
											<textarea id="textarea1" class="materialize-textarea"></textarea>
											<label for="textarea1">Textarea</label>
										</div>
									</div>
								</div>
								<!-- row -->
								<button type="button" class="custom-btn waves-effect waves-light right">SUBMIT NOW</button>
							</form>
							<!-- /.comment-area -->
						</div>
						<!-- /.leave-comment -->

					</div>	
					    <!-- colm8 -->

                    {% endblock div_post %}

					
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</section>
		<!-- /#single-blog-section -->
		<!-- ==================== single-blog-section end ====================-->





