{% extends 'base.html' %}
{% load staticfiles %}


    {% block div_index %}
		<!-- ==================== header-section Start ==================== -->
		<section id="breadcrumb-section" class="breadcrumb-section w100dt mb-30">
			<div class="container">

				<nav class="breadcrumb-nav w100dt">
					<div class="page-name hide-on-small-only left">
						<h4>MY BLOGS</h4>
					</div>
					<div class="nav-wrapper right">
						<a href="{% url 'blog:index' %}" class="breadcrumb">Home</a>
						<a href="{% url 'blog:myblogs' %}" class="breadcrumb active">MY BLOGS</a>
					</div>
					<!-- /.nav-wrapper -->
				</nav>
				<!-- /.breadcrumb-nav -->

			</div>
			<!-- container -->
		</section>
		<!-- /.breadcrumb-section -->
		<!-- ==================== header-section End ==================== -->
    {% endblock div_index %}






 	{% block div_post %}
    <div class="col s12 m8 l8">

            {% if error_msg %}
                <p>{{ error_msg }}</p>
            {% endif %}

            {% for post in post_list %}
            <!--<div class="blogs mb-30 post-{{ post.pk }}">-->
            <div class="blogs mb-30">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'blog/img/selfie.jpg' %}" alt="Image">
                        <a class="btn-floating center-align cmn-bgcolor halfway-fab waves-effect waves-light">
                            <i class="icofont icofont-camera-alt"></i>
                        </a>
                    </div>
                    <!-- /.card-image -->
                    <div class="card-content w100dt">
                        <p>
                            <a href="#" class="tag left w100dt l-blue mb-30">{{ post.category.name }}</a>
                        </p>
                        <a href="{{ post.get_absolute_url }}" class="card-title">
                        <!--<a href="/post/{{ post.pk }}/" class="card-title">-->
                            {{ post.title }}
                        </a>
                        <p class="mb-30">
                            <!--{{ post.excerpt }}-->
                            {{ post.body|truncatechars:25 }}
                        </p>
                        <ul class="post-mate-time left">
                            <li>
                                <p class="hero left">
                                    By - <a href="#" class="l-blue">{{ post.author }}</a>
                                </p>
                            </li>
                            <li>
                                <i class="icofont icofont-ui-calendar"></i>{{ post.created_time }}
                                <!--5 February'17-->
                            </li>
                        </ul>

                        <ul class="post-mate right">
                            <li class="like">
                                <a href="#">
                                    <i class="icofont icofont-heart-alt"></i> {{ post.views }}
                                </a>
                            </li>
                            <li class="comment">
                                <a href="#">
                                    <i class="icofont icofont-comment"></i> {{ post.comment_set.count }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-content -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.blogs -->
            {% empty %}
                 <div style="font-size:16px;" class="comment w100dt mb-30"><center>暂无博客！</center></div>

            {% endfor %}

<!--            <ul class="pagination w100dt">-->
<!--                <li class="waves-effect"><a href="#!"><i class="icofont icofont-simple-left"></i></a></li>-->
<!--                <li class="active"><a href="#!">1</a></li>-->
<!--                <li class="waves-effect"><a href="#!">2</a></li>-->
<!--                <li class="waves-effect"><a href="#!">3</a></li>-->
<!--                <li class="waves-effect"><a href="#!">4</a></li>-->
<!--                <li class="waves-effect"><a href="#!">5</a></li>-->
<!--                <li class="waves-effect"><a href="#!"><i class="icofont icofont-simple-right"></i></a></li>-->
<!--            </ul>-->

                {% if is_paginated %}

                    <div class="pagination w100dt">

                        {% if first %}
                            <div class="waves-effect"><a href="?page=1">1</a></div>
                        {% endif %}

                        {% if left %}
                            {% if left_has_more %}
                                <span>...</span>
                            {% endif %}
                            {% for i in left %}
                                <div class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></div>
                            {% endfor %}
                        {% endif %}

<!--                            <a href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a>-->
                            <div class="waves-effect active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></div>

                        {% if right %}
                            {% for i in right %}
<!--                                <a href="?page={{ i }}">{{ i }}</a>-->
                                <div class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></div>
                            {% endfor %}
                            {% if right_has_more %}
                                <span>...</span>
                            {% endif %}
                        {% endif %}

                          {% if last %}
<!--                            <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>-->
                              <div class="waves-effect"><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></div>

                          {% endif %}

                    </div>

                {% endif %}

        </div>
        <!-- colm8 -->
    {% endblock div_post %}