{% load staticfiles %}
{% load blog_tags %}


<html lang="zxx">

	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Eddie - blog</title>

		<!-- css include -->
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/materialize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/icofont.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/owl.carousel.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/owl.theme.default.min.css' %}">

		<!-- my css include -->
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/custom-menu.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/responsive.css' %}">

        <!-- my css highlight style -->
        <link rel="stylesheet" href="{% static 'blog/css/highlights/vim.css' %}">

	</head>


	<body>




		<div class="thetop"></div>
		<!-- for back to top -->

		<div class='backToTop'>
			<a href="#" class='scroll'>
				<span>T</span>
				<span>O</span>
				<span>P</span>
				<span class="go-up">
					<i class="icofont icofont-long-arrow-up"></i>
				</span>
			</a>
		</div>
		<!-- backToTop -->




		<!-- ==================== header-section Start ==================== -->
		<header id="header-section" class="header-section w100dt navbar-fixed">

			<nav class="nav-extended main-nav">
				<div class="container">
					<div class="row">
						<div class="nav-wrapper w100dt">

							<div class="logo left">
								<a href="{% url 'blog:index' %}" class="brand-logo">
									<img src="{% static 'blog/img/mylogo.png' %}" alt="brand-logo">
								</a>
							</div>
							<!-- logo -->

							<div>
								<a href="#" data-activates="mobile-demo" class="button-collapse">
									<i class="icofont icofont-navigation-menu"></i>
								</a>

                                <ul id="nav-mobile" class="main-menu center-align hide-on-med-and-down">
									<li><a href="{% url 'blog:index' %}" style="font-size:18px;">HOME</a></li>
									<li><a href="{% url 'blog:myblogs' %}" style="font-size:18px;">MY BOLGS</a></li>
									<li><a href="{% url 'blog:contact' %}" style="font-size:18px;">CONTACT</a></li>
									<li><a href="{% url 'blog:about' %}" style="font-size:18px;">ABOUT ME</a></li>
								</ul>

								<!-- /.main-menu -->

								<!-- ******************** sidebar-menu ******************** -->
								<ul class="side-nav" id="mobile-demo">
									<li class="snavlogo center-align"><img src="{% static 'blog/img/mylogo.png' %}" alt="logo"></li>
									<li><a href="{% url 'blog:index' %}" style="font-size:18px;">HOME</a></li>
									<li><a href="{% url 'blog:myblogs' %}" style="font-size:18px;">MY BOLGS</a></li>
									<li><a href="{% url 'blog:contact' %}" style="font-size:18px;">CONTACT</a></li>
									<li><a href="{% url 'blog:about' %}" style="font-size:18px;">ABOUT ME</a></li>
								</ul>
							</div>
							<!-- main-menu -->

							<a href="#" class="search-trigger right">
								<i class="icofont icofont-search"></i>
							</a>
							<!-- search -->
							<div id="myNav" class="overlay">
								<a href="javascript:void(0)" class="closebtn">&times;</a>
								<div class="overlay-content">
									<form method="get" action="{% url 'blog:search' %}">
										<input type="text" name="q" placeholder="Search..." required>
										<br>
										<button class="waves-effect waves-light" type="submit">Search</button>
									</form>
								</div>
							</div>

						</div>
						<!-- /.nav-wrapper -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</nav>

		</header>
		<!-- /#header-section -->
		<!-- ==================== header-section End ==================== -->



    <div>
		{% block div_index %}
        {% endblock div_index %}
    </div>




		<!-- ==================== blog-section start ==================== -->
		<section id="blog-section" class="blog-section w100dt mb-50">
			<div class="container">
				<div class="row">
                    <div>
                        {% block div_post %}
                        {% endblock div_post %}
                    </div>

                    <div class="col s12 m4 l4">



                        <div class="featured-posts w100dt mb-30">
                            <div class="sidebar-title center-align">
                                <h2>Featured Posts</h2>
                            </div>
                            <!-- /.sidebar-title -->

                            <div class="sidebar-posts">

                                {% get_featured_post as fpost_list %}
                                {% for fpost in fpost_list %}

                                    <div class="card">
                                        <div class="card-image mb-10">
                                            <img src="{{ fpost.picture.url }}" alt="Image">
                                            <span class="effect"></span>
                                        </div>
                                        <!-- /.card-image -->
                                        <div class="card-content w100dt">
                                            <p>
                                                <a href="#" class="tag left w100dt l-blue mb-10">{{ fpost.category.name }}</a>
                                            </p>
                                            <a href="{{ fpost.get_absolute_url }}" class="card-title">
                                                {{ fpost.title }}
                                            </a>
                                            <ul class="post-mate-time left">
                                                <li>
                                                    <p class="hero left">
                                                        By - <a href="{% url 'blog:about' %}" class="l-blue">{{ fpost.author }}</a>
                                                    </p>
                                                </li>
                                            </ul>

                                            <ul class="post-mate right">
                                                <li class="like">
                                                    <a href="#">
                                                        <i class="icofont icofont-heart-alt"></i> {{ fpost.views }}
                                                    </a>
                                                </li>
                                                <li class="comment">
                                                    <a href="#">
                                                        <i class="icofont icofont-comment"></i> {{ fpost.comment_set.count }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.card-content -->
                                    </div>
                                    <!-- /.card -->

                                {% empty %}

                                    <div style="font-size:16px;" class="comment w100dt mb-30"><center>暂无博客！</center></div>

                                {% endfor %}

                            </div>
                            <!-- /.sidebar-posts -->

                        </div>
                        <!-- /.featured-posts -->



                         <!-- 归档文章 start -->
                        <div class="posts-time top-post w100dt mb-30">
							<div class="sidebar-title center-align">
								<h2>Posts Time</h2>
							</div>


								<div class="tab-contant Comments-post">
                                    {% archives as date_list %}
                                    {% for date in date_list %}

                                        <div class="card-panel grey lighten-5 z-depth-1">
                                            <div class="row valign-wrapper">
                                                <div class="col s3">
                                                    <img src="{% static 'blog/img/timg.jpeg' %}" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
                                                </div>
                                                <div class="col s9">
                                                    <span class="black-text">
                                                        <a href="{% url 'blog:archives' date.year date.month %}" style="color:gray;font-size:17px;">{{ date.year }} 年 {{ date.month }} 月 </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- card-panel -->
                                    {% empty %}

                                    <div style="font-size:16px;" class="comment w100dt mb-30"><center>暂时没有归档！</center></div>

                                    {% endfor %}

							    </div>
							    <!-- /.recent-post -->
                        </div>
                        <!-- 归档文章 end -->



                        <div class="top-post w100dt mb-30">
                            <div class="sidebar-title center-align">
                                <h2>Top Posts</h2>
                            </div>
                            <!-- /.sidebar-title -->

                            <ul id="tabs-swipe-demo" class="top-post-tab tabs tabs-fixed-width">
                                <li class="tab"><a href="#test-swipe-1">Most Views</a></li>
                                <li class="tab"><a href="#test-swipe-2" class="active">Recent</a></li>
                                <li class="tab"><a href="#test-swipe-3">Comments</a></li>
                            </ul>

                            <div id="test-swipe-1" class="tab-contant most-view">

                                <div class="sidebar-posts">

                                    {% get_most_view_post as most_post_list %}
                                    {% for most_post in most_post_list %}

                                        <div class="hot-post w100dt" style="padding:0 10px;">
                                            <div class="hot-post-image">
                                                <div style="padding-bottom:100%;">
                                                    <img src="{{ most_post.picture.url }}" alt="Image" style="position:absolute;top:16px;bottom:0;left:0;right:0;width:100%;margin:1px;">
                                                    <span class="effect"></span>
                                                </div>
                                            </div>
                                            <!-- /.hot-post-image -->
                                            <div class="hot-post-stacked">
                                                <p>
                                                    <a href="#" class="tag left w100dt l-blue mb-10">{{ most_post.category.name }}</a>
                                                </p>
                                                <a href="{{ most_post.get_absolute_url }}" class="sm-name mb-10">{{ most_post.title }}</a>
                                                <div class="hot-post-action">
                                                    <p class="hero left">
                                                        BY - <a href="{% url 'blog:about' %}" class="l-blue">{{ most_post.author }}</a>
                                                    </p>
                                                    <ul class="post-mate right">
                                                        <li class="comment">
                                                            <a href="#">
                                                                <!--<i class="icofont icofont-comment"></i> {{ post.comment_set.count }}-->
                                                                <i class="icofont icofont-heart-alt"></i> {{ most_post.views }}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <!-- /.post-mate -->
                                                </div>
                                                <!-- /.hot-post-action -->
                                            </div>
                                            <!-- /.hot-post-stacked -->
                                        </div>
                                        <!-- /.hot-post -->

                                    {% empty %}

                                        <div style="font-size:16px;" class="comment w100dt mb-30"><center>暂无博客！</center></div>

                                    {% endfor %}

                                </div>
                                <!-- /.sidebar-posts -->

                            </div>
                            <!-- /.most-view -->


                            <div id="test-swipe-2" class="tab-contant recent-post">

                                {% get_recent_posts as recent_post_list %}
                                {% for rencent_post in recent_post_list %}

                                    <div class="hot-post w100dt" style="padding:0 15px 0 15px;">
                                        <div class="hot-post-image">
                                            <div style="padding-bottom:100%;">
                                            <img src="{{ rencent_post.picture.url }}" alt="Image" style="position:absolute;top:16px;bottom:0;left:0;right:0;width:100%;margin:1px;">
                                            <span class="effect"></span>
                                            </div>
                                        </div>
                                        <!-- /.hot-post-image -->
                                        <div class="hot-post-stacked">
                                            <p>
                                                <a href="#" class="tag left w100dt l-blue mb-10">{{ rencent_post.category }}</a>
                                            </p>
                                                <a href="{{ rencent_post.get_absolute_url }}" class="sm-name mb-10">{{ rencent_post.title }}</a>

                                            <div class="hot-post-action">
                                                <p class="hero left">
                                                    BY - <a href="{% url 'blog:about' %}" class="l-blue">{{ rencent_post.author }}</a>
                                                </p>
                                                <ul class="post-mate right">
                                                    <li class="comment">
                                                        <a href="#">
                                                            <i class="icofont icofont-comment"></i> {{ rencent_post.comment_set.count }}
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!-- /.post-mate -->
                                            </div>
                                            <!-- /.hot-post-action -->
                                        </div>
                                        <!-- /.hot-post-stacked -->
                                    </div>
                                    <!-- /.hot-post -->

                                {% empty %}
                                <div style="font-size:16px;" class="comment w100dt mb-30"><center>暂无文章！</center></div>

                                {% endfor %}

                            </div>
                            <!-- /.recent-post -->


                            <div id="test-swipe-3" class="tab-contant Comments-post">
                                {% get_recent_comments as comment_list %}
                                {% for comment in comment_list %}

                                    <div class="card-panel grey lighten-5 z-depth-1" style="box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.14);">
                                        <div class="row valign-wrapper">
                                            <div style="width:100%;height:auto;word-wrap:break-word;word-break:break-all;overflow:hidden;">
                                                <div class="col s3">
                                                    <img src="{% static 'blog/img/comments2.jpg' %}" alt="Image" class="circle responsive-img"> <!-- notice the "circle" class -->
                                                </div>
                                                <div class="col s9">
                                                    <span class="black-text">
                                                        {{ comment.text }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- card-panel -->

                                {% empty %}

                                    <div class="card-panel grey lighten-5 z-depth-1">
                                        <div class="row valign-wrapper">

                                            <div class="col s9">
                                                <span class="black-text">
                                                    <div style="font-size:16px;" class="comment w100dt mb-30"><center>暂无评论！</center></div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>
                            <!-- /.tab-contant -->
                        </div>
                        <!-- /.top-post -->



                        <div class="sidebar-followme w100dt mb-30">
							<div class="sidebar-title center-align">
								<h2>Tag Clouds</h2>
							</div>
							<!-- /.sidebar-title -->

							<div style="padding: 25px;overflow: hidden;" class="w100dt">
                                {% get_tags as tag_list %}
                                {% for tag in tag_list %}
                                    <a style="font-size:17px;display:inline-block;padding: 5px 10px;margin-right: 10px;color:gray;letter-spacing:1px;border:1px solid #2962ff;margin-bottom:8px;" href="{% url 'blog:tag' tag.pk %}"><i style="color:#EAC100;">★</i>{{ tag.name }}</a>
                                {% empty %}
                                    <a style="font-size:17px;display:inline-block;padding: 5px 10px;margin-right: 10px;color:gray;letter-spacing:1px;border:1px solid #2962ff;margin-bottom:8px;" href="#">#暂无标签</a>
                                {% endfor %}
                            </div>

						</div>
						<!-- /.sidebar 标签云 -->



                        <div class="sidebar-subscribe w100dt">
                            <div class="sidebar-title center-align">
                                <h2>Subscribe</h2>
                            </div>
                            <!-- /.sidebar-title -->

                            <div class="subscribe">
                                <p class="mb-30">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo.
                                </p>
                                <form action="#">
                                    <div class="input-field">
                                        <input id="email" type="email" class="validate">
                                        <label class="left-align" for="email">Enter email address</label>
                                    </div>
                                    <a class="waves-effect waves-light">SUBMIT NOW</a>
                                </form>
                            </div>
                            <!-- /.subscribe -->

                        </div>
                        <!-- /.sidebar-subscribe -->

                    </div>
                    <!-- colm4 -->
				<!-- row -->
			<!-- container -->
                </div>
            </div>
		</section>
		<!-- /#blog-section -->
		<!-- ==================== blog-section end ==================== -->




		<!-- ==================== instag leftram-section Start ==================== -->
		<section id="instagram-section" class="instagram-section w100dt">

			<div class="instagram-link w100dt">
				<a href="#">
					<span>The ideal of life is to live an ideal life.</span>
					@EDDIE
				</a>
			</div>

		</section>
		<!-- /#instag leftram-section -->
		<!-- ==================== instag leftram-section End ==================== -->





		<!-- ==================== footer-section Start ==================== -->
		<footer id="footer-section" class="footer-section w100dt">
			<div class="container">

				<div class="footer-logo w100dt center-align mb-30">
					<a href="{% url 'blog:index' %}" class="brand-logo">
						<img src="{% static 'blog/img/mylogo.png' %}" alt="brand-logo">
					</a>
				</div>
				<!-- /.footer-logo -->

				<ul class="footer-social-links w100dt center-align mb-30">
					<li><a href="#" class="facebook">FACEBOOK</a></li>
					<li><a href="#" class="twitter">TWITTER</a></li>
					<li><a href="#" class="google-plus">GOOGLE+</a></li>
					<li><a href="#" class="linkedin">LINKDIN</a></li>
					<li><a href="#" class="pinterest">PINTEREST</a></li>
					<li><a href="#" class="instagram">INSTAGRAM</a></li>
				</ul>

				<p class="center-align">
					<i class="icofont icofont-heart-alt" style="color:red;"></i>
					All Right Reserved, Deasined by
					<a href="#" class="l-blue">HTMLmate</a>
				</p>

			</div>
			<!-- container -->
		</footer>
		<!-- /#footer-section -->
		<!-- ==================== footer-section End ==================== -->










		<!-- my custom js -->
		<!--<script type="text/javascript" src="{% static 'blog/js/jquery-3.1.1.min.js' %}"></script>-->
		<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'blog/js/materialize.js' %}"></script>
		<script type="text/javascript" src="{% static 'blog/js/owl.carousel.min.js' %}"></script>

		<!-- my custom js -->
		<script type="text/javascript" src="{% static 'blog/js/custom.js' %}"></script>

		<script type="text/javascript">
		</script>


	</body>

</html>